repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.387
    hooks:
    - id: pyright
      additional_dependencies: [jax>=0.4.35]
      exclude: ^tests/
      # Change this to automatically get from pyproject.toml or a requirements.txt?
      # Seemingly there are good reasons why pre-commit cannot do this https://github.com/pre-commit/pre-commit/issues/730
      # So we have to duplicate the dependencies here, but suggestions are welcome on how to improve this pyright integration!
