/* Import Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Set Comfortaa as the default font */
body {
  font-family: 'Comfortaa', sans-serif !important;
}

/* Reduce whitespace around KaTeX block equations */
.katex-display {
  margin: -1em 0 !important;
}

/* Reduce default font size - default is 0.8rem */
.md-typeset {
  font-size: 0.7rem !important;
}

/* Left padding for functions/classes */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 3px solid rgba(230, 230, 230);
}