name: Pre-commit and Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  pre-commit:
    name: Check code style and types
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - uses: pre-commit/action@v3.0.1
  tests:
    name: Run tests for Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs:
      - pre-commit
    strategy:
      matrix:
        python-version: ['3.12']
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install dev environment
        run: |
          uv sync --extra tests --extra examples
      - name: Run the tests with pytest
        run: |
          uv run pytest -n auto -vv -m "not examples"
      - name: Generate examples scripts
        run: |
          uv run entangled tangle
      - name: Run the examples scripts with pytest
        run: |
          uv run pytest -n auto -vv -m examples
